<!doctype html>
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="UTF-8">

<!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /><![endif]-->

<!--meta-->
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
<meta name="robots" content="ALL" />


<meta name="description" content="株式会社いないいないばぁは日本一のサプライズマーケティング会社です。口コミやリピートを増やすためのサプライズを提案し、人々に喜んでもらうためのコンサルティングを行います。">
<meta name="keywords" content="【ここにキーワード】">
<link rel="canonical" href="http://www.i-i-b.jp/member/contact/" />

<!--title・icon-->
<title>お問い合わせ| 株式会社いないいないばぁ-サプライズマーケティングで口コミやリピートを増やすコンサルティングならお任せください。</title>
<link rel="shortcut icon" href="../common/img/favicon.ico" />

<!--CSS-->
<link rel="stylesheet" href="../common/css/common.css" type="text/css" media="all">
<link rel="stylesheet" href="../common/css/sub.css" type="text/css" media="all">
<link rel="stylesheet" href="../common/css/magnific-popup.css" type="text/css" media="all">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="../common/js/respond.min.js"></script>
<![endif]-->
<!--[if IE 6]><script src="../common/js/minmax.js"></script><![endif]-->


<!--FB-->
<meta property="og:title" content="お問いあ合わせ | 日本一のサプライズマーケティング会社【株式会社いないいないばぁ】">
<meta property="og:site_name" content="株式会社いないいないばぁ">
<meta property="og:description" content="株式会社いないいないばぁは日本一のサプライズマーケティング会社です。口コミやリピートを増やすためのサプライズを提案し、人々に喜んでもらうためのコンサルティングを行います。">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.i-i-b.jp/member/contact/">
<meta property="og:image" content="http://www.i-i-b.jp/common/img/common/fb.jpg">

</head>
<body>


<div id="wrapper">
  <!--header-->
  <header>
    <!--spnavi-->
    <div class="head_sp">
      <h1 class="logo"><a href="/"><img src="../common/img/h_logo.png" alt="お問い合わせ|株式会社いないいないばぁ"></a></h1>
      <div class="sp_menubar">
        <a class="popup-modal modal-close" href="#inline-wrap"><i></i></a>
      </div>
      <ul id="inline-wrap" class="mfp-hide sp_navmenu">
        <li><a href="/"><span>TOP</span></a></li>
        <li><a href="about/"><span>About</span></a></li>
        <li>
          <a href="blog/"><span>ブログ一覧</span></a>
          <ul class="sp_subcategory">
            <li><a href="#"><span>サブカテゴリ</span></a></li>
            <li><a href="#"><span>サブカテゴリ</span></a></li>
          </ul>
        </li>
        <li><a href="flow/"><span>制作の流れ</span></a></li>
        <li><a href="faq/"><span>よくある質問</span></a></li>
        <li><a href="contact/"><span>お問合せ</span></a></li>
      </ul>
    </div>
  </header>
  <!--container-->
  <div class="container" id="about">
    <div class="contact_zone contact_bg1">
      <div class="contact_box">
        <h2><img src="../common/img/title_contact.png" alt="Contact"></h2>
        <section class="recruit_box boxline" id="entry">
          <h3>お問い合わせ完了</h3>
          <div class="desc">
            <p class="btm-ll">お問い合わせが完了いたしました。<br>
            内容を確認しまして、<br>
            1週間以内に担当者よりご連絡させていただきます。</p>
          </div>
          <div class="contact_form">
            <form method="post" action="index.php">
            <!--InputMode-->
            <!--#include virtual="./template/form_check.html"-->
            </form>
          </div>
        </section>
      </div> 
    </div>
    <section class="f_link">
      <div class="f_serif">
        <p class="photo"><img src="../common/img/icon_monster_01.png" alt="monster"></p>
        <p class="arrow">ツギハドコイキマスカ？</p>
      </div>
      <p class="chara"><img src="../common/img/icon_monster_04.png" alt="monster"></p>
      <ul class="f_list">
        <li><a href="/"><img src="../common/img/icon_flink_01.png" alt="photo">
        世界</a></li>
        <li><a href="../company.php"><img src="../common/img/icon_flink_02.png" alt="photo">
        会社概要</a></li>
        <li><a href="../history.php"><img src="../common/img/icon_flink_03.png" alt="photo">
        歴史</a></li>
        <li><a href="../mission.php"><img src="../common/img/icon_flink_04.png" alt="photo">
        ミッション</a></li>
        <li><a href="../greeting.php"><img src="../common/img/icon_flink_05.png" alt="photo">
        代表挨拶</a></li>
        <li><a href="../credo.php"><img src="../common/img/icon_flink_06.png" alt="photo">
        クレド</a></li>
      </ul>
    </section>

  </div><!--container-->

  <!--footer-->
  <footer>
    <p class="f_logo"><img src="../common/img/h_logo.png" alt="株式会社いないいないばぁ"></p>
    <ul class="link">
      <li><a href="#">特定商取引法に基づく表記について</a></li>
      <li><a href="#">プライバシポリシー</a></li>
    </ul>
    <p class="copy">&copy; <script type="text/javascript">var iNavInt_curYear = new Date().getUTCFullYear(); document.write(iNavInt_curYear);</script> <a href="/">IIB</a> All Rights Reserved.</p>
  </footer>

</div>

<!--js-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="../common/js/main.js"></script>
<script src="../common/js/jquery.magnific-popup.min.js"></script>
<script src="../common/js/jquery.circliful.js"></script>

<script>
$(function () {
  $('.popup-modal').magnificPopup({
    type: 'inline',
    preloader: false
  });
  $(document).on('click', '.popup-modal-dismiss', function (e) {
    e.preventDefault();
    $.magnificPopup.close();
  });
});
</script>
<script type="text/javascript">
// takernari
    $( document ).ready(function() { // 6,32 5,38 2,34
        $("#circle1").circliful({
          dimension: 400,
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 21,
            textSize: 28,
            textStyle: 'font-size: 16px;',
            textColor: '#303131',
            multiPercentage: 1,
            percentages: [10, 20, 30],
            info: "test"
        });
        $("#circle2").circliful({
          dimension: 240,
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 31,
            textSize: 28,
            textStyle: 'font-size: 12px;',
            textColor: '#303131',
            multiPercentage: 1,
            percentages: [10, 20, 30]
        });
        $("#circle3").circliful({
          dimension: 240,
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 40,
            textSize: 28,
            textStyle: 'font-size: 12px;',
            textColor: '#303131',
            multiPercentage: 1,
            percentages: [10, 20, 30]
        });
        $("#circle4").circliful({
          dimension: 240,
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 50,
            textSize: 28,
            textStyle: 'font-size: 12px;',
            textColor: '#303131',
            multiPercentage: 1,
            percentages: [10, 20, 30]
        });
        $("#circle5").circliful({
          dimension: 240,
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 60,
            textSize: 28,
            textStyle: 'font-size: 12px;',
            textColor: '#303131',
            multiPercentage: 1,
            percentages: [10, 20, 30]
        });
    });
</script>

</body>
</html>
