@charset "utf-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body {line-height:1.8}
article, aside, dialog, figure, footer, header,
hgroup, nav, section {display:block}
ul, ol {list-style:none}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none;}
a {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent}
ins {background-color:#ff9;color:#000;text-decoration:none}
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del {text-decoration: line-through}
abbr[title], dfn[title] {border-bottom:1px dotted #000;cursor:help}
table {border-collapse:collapse;border-spacing:0}
hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}
input, select {vertical-align:middle}

/*========================================
BASIC
=======================================*/
html{-webkit-text-size-adjust:100%}
body{color:#000; font-size:16px;font-family:Meiryo, メイリオ, Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;background:#f1f0f0; line-height:1.8;}
body.index { background:url(../img/index/bg.jpg) repeat;}
body.about { background:url(../img/about/bg.jpg) repeat;}
body.service { background:url(../img/service/bg.jpg) repeat;}
body.surprise { background:url(../img/surprise/bg.jpg) repeat;}
body.post { background:#68a497;}
body.article {}
a{color:#000;text-decoration:none;}
a:hover{color:#000;}
p {margin-bottom:15px;}
section{margin:0 0;}
.Hv a {-moz-transition-property:all;-moz-transition-duration: 0.5s;-moz-transition-timing-function: ease;-moz-transition-delay: 0.1s;-webkit-transition-property:all;-webkit-transition-duration: 0.5s;-webkit-transition-timing-function: ease;-webkit-transition-delay: 0.1s;-o-transition-property:all;-o-transition-duration: 0.5s;-o-transition-timing-function: ease;-o-transition-delay: 0.1s;opacity:1;}
.Hv a:hover {-moz-transition-property:all;-moz-transition-duration: 0.5s;-moz-transition-timing-function: ease;-moz-transition-delay: 0.1s;-webkit-transition-property:all;-webkit-transition-duration: 0.5s;-webkit-transition-timing-function: ease;-webkit-transition-delay: 0.1s;-o-transition-property:all;-o-transition-duration: 0.5s;-o-transition-timing-function: ease;-o-transition-delay: 0.1s;opacity:0.7;}

/* other */
.clearfix:after{content: "."; display: block; height: 0; font-size:0; clear: both; visibility:hidden}
.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix{display:block;}
.midnote {margin-bottom:8%;}
.endnote {margin-bottom:14%;}
.caution {color:#F33437;}
.bold{font-weight:bold;}
.underline{text-decoration:underline;}


/* COMMON
=======================================*/
/* #wrapper */
#wrapper{width: 100%;margin: 0 auto;}
#index-wrap{width:1200px; background:url(../img/index/bg-island.png) no-repeat;margin: 0 auto; height:2428px;}
#about-wrap{width:1200px; background:url(../img/about/bg-island.png) no-repeat;margin: 200px auto 100px; height:1047px;}
#service-wrap{width:1200px; background:url(../img/service/bg-island.png) no-repeat;margin: 160px auto 100px; height:1102px;}
#surprise-wrap{width:1200px; background:url(../img/surprise/bg-island.png) no-repeat;margin: 230px auto 200px; height:912px;}

/* #header */
header { height:40px; background:#fff; width:100%; position:fixed; top:0; min-width:1200px; z-index:1000; padding:15px;}
header .Menu { position:absolute; left:10px; top:15px;}
header .Logo { width:340px; margin:0 auto;}
header ul { position:absolute; right:170px; top:20px; overflow:hidden; width:140px;}
header li { float:left; text-align:center; width:40px;}
header .btn { background:#ee7f8d; position:absolute; right:40px; top:13px; border: none;font-family: inherit; font-size: inherit; color:#fff;cursor: pointer;padding: 6px 20px;display: inline-block; letter-spacing: 1px;outline: none;-webkit-transition: all 0.3s; -moz-transition: all 0.3s;	transition: all 0.3s;}
header .btn:after {right:40px; top:10px;	content: '';position: relative;	z-index: -1;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;	transition: all 0.3s;}
header .btn-contact {background: #cb4e4e;color: #fff;box-shadow: 0 6px #d25c6b;-webkit-transition: none;-moz-transition: none;transition: none;}
header .btn-act {border-radius:5px;}
header .btn-act:hover {box-shadow: 0 8px #d25c6b;top:11px;}
header .btn-act:active {box-shadow: 0 0 #d25c6b;top: 19px;}

/* #footer */
footer {position:relative; height:180px; background:#fff; width:100%; min-width:1200px; padding:15px; text-align:center; font-size:14px; overflow:hidden; box-sizing:border-box;-webkit-box-sizing:border-box;}
footer ul { overflow:hidden; width:700px; margin:0 auto 10px;}
footer ul li { float:left; text-align:center; width:100px; color:#5a5b5b;}
footer ul.second { overflow:hidden; width:700px; margin:0 auto 20px;}
footer ul.second li { float:left; text-align:center; width:350px; color:#5a5b5b;}
footer ul li a:hover {text-decoration:underline;}




