<footer>
<ul>
<li><a href="http://www.i-i-b.jp/dev-2/">HOME</a></li>
<li><a href="http://www.i-i-b.jp/dev-2/article.php">お知らせ</a></li>
<li><a href="http://www.i-i-b.jp/dev-2/about/company.php">会社概要</a></li>
<li><a href="http://www.i-i-b.jp/dev-2/service/">事業内容</a></li>
<li><a href="http://www.i-i-b.jp/dev-2/member.php">メンバー紹介</a></li>
<li><a href="http://www.i-i-b.jp/dev-2/recruit/">採用情報</a></li>
</ul>
<ul class="second">
<!--<li><a href="http://www.i-i-b.jp/dev-2/legal.php">特定商取引法に基づく表記について</a></li>-->
<li><a href="http://www.i-i-b.jp/dev-2/contact/">お問い合わせ</a></li>
<li><a href="http://www.i-i-b.jp/dev-2/privacy.php">プライバシーポリシー</a></li>
</ul>
<div class="Logo"><img src="http://www.i-i-b.jp/dev-2/common/img/header/logo.png" width="340" height="32" alt="株式会社いないいないばぁ"/></div>
<p>&copy; <script type="text/javascript">var iNavInt_curYear = new Date().getUTCFullYear(); document.write(iNavInt_curYear);</script> IIB All Rights Reserved.</p>
</footer>