@charset utf-8;


@font-face {
  font-family: 'ryumin';
  src: url(../font/ryumin.otf);
}

/* about-history・company */
.history_zone{margin-bottom: 60px;}
.history_zone .bg{background:url(../img/bg_06.png) no-repeat 0 0;background-size:cover;margin-bottom: 30px;}
/*
.history_zone .desc{text-align: center;}
*/
.history_zone .desc .serif{overflow: hidden;}
.history_zone .desc .serif .photo{width: 18%;float: left;text-align: right;margin: 0 0 0 2%;}
.history_zone .desc .serif .arrow{position: relative;width: 77%;margin: 2% 0 0 1%;float: left;background: #d6d6d6;color: #46a5bc;padding: 2% 3px;border-radius: 5px;font-size: 13px;}
.history_zone .desc .serif .arrow::after, .history_zone .desc .serif .arrow::before {right: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.history_zone .desc .serif .arrow::after {border-color: rgba(255, 255, 255, 0);border-right-color: #d6d6d6;border-width: 7px;margin-top: -9px;}
.history_zone .boxline{width: 95%;margin: 0 auto;}
.history_zone .boxline h3{color: #388ff0;text-align: center;font-size: 20px;margin-bottom: 10px;}
.history_zone .boxline h3.serif{}
.history_zone .boxline h3 img{width: 100%;height: auto;}
.history_zone .boxline .txt{margin-bottom: 50px;}
.history_zone .boxline .txt p{margin-bottom: 10px;}
.history_zone .boxline .txt .strongred{color: #e53c7d;}
.history_zone .boxline .txt .strong{font-weight:bold;}
.history_zone .boxline .txt .big{font-size:120%;}
.history_zone .boxline .txt .underline{text-decoration: underline;}
.history_zone .boxline .txt .del{text-decoration: line-through;}
.history_zone .boxline .photo{width: 100%;margin-bottom: 20px;}
.history_zone .boxline .nophoto{background-color: #000;text-align: center;font-size:18px;color: #fff;display: block;padding: 30px 0;margin: 20px 0;}
.history_zone .boxline .iconlist{overflow: hidden;width: 100%;font-size: 13px;}
.history_zone .boxline .iconlist li{text-align: center;float: left;width: 31%;margin: 0 1% 20px;}
.history_zone .boxline .iconlist li img{width: 100%;height: auto;}
.history_zone .boxline .typelist{background: #cab9b9;color: #fff;text-align: center;padding: 5px 0;margin: 15px 0;}
.history_zone .boxline .typelist li{}
.history_zone .boxline .list_first{border-bottom:solid 1px #353636;margin-bottom: 30px;}
.history_zone .history_end{border-top:solid 1px #353636;border-bottom:solid 1px #353636;padding: 10px 0 0;}
.history_zone .company_list{}
.history_zone .company_list dl{border-bottom:dotted 1px #353636;padding-bottom: 10px;margin-bottom: 20px;}
.history_zone .company_list dt{color: #388ff0;margin-bottom: 10px;}
.history_zone .company_list dd{}
.history_zone .company_list dd p{margin-bottom: 5px;}
.history_zone .company_list dd.business p{text-indent: -1em;margin-left: 1em;}
.TitleLine { text-align:center; color:#fff !important; letter-spacing:1px; background:url(../../common/img/bg_TitleLine.png) repeat; padding:2% 4%;}


/* monster */
.monster_zone{}
.monster_zone .chara_box{background: #e6f3f4;padding: 60px 0;}
.monster_zone .chara_box .boxline{background: #fff;padding: 3%;box-sizing: border-box;}
.monster_zone .namezone{}
.monster_zone .namezone .photo{width: 100%;margin: 0 auto 10px;}
.monster_zone .namezone .txtzone{background: url(../img/member/bg_profmap.png) no-repeat 37% 0;background-size: 60%;}
.monster_zone .namezone .txtzone .inner{background: rgba(255,255,255,0.8);}
.monster_zone .namezone .txtzone .team{color:#5e98be;font-size: 22px;text-align: center;margin-bottom: 10px;}
.monster_zone .namezone .txtzone .kana{text-align: center;color: #717171;}
.monster_zone .namezone .txtzone .name{font-size: 28px;text-align: center;color: #5e98be;}
.monster_zone .namezone .txtzone .post{text-align: center;margin-bottom: 20px;}
.monster_zone .namezone .txtzone .list{overflow: hidden;margin-bottom: 20px;color: #717171;}
.monster_zone .namezone .txtzone .list dt{width: 35%;float: left;}
.monster_zone .namezone .txtzone .list dd{width: 65%;float: left;}
.monster_zone .namezone .meigen{border-bottom: dotted 1px #717171;padding-bottom: 10px;margin-bottom: 20px;}
.monster_zone .namezone .meigen dt{color: #717171;}
.monster_zone .namezone .meigen  dd{color:#5e98be;}

.monster_zone .speczone{}
.monster_zone .speczone h3{font-size: 24px;text-align: center;color:#5e98be;margin-top: 50px;}
.monster_zone .speczone .list{width: 100%;margin: 0 auto 30px;overflow: hidden;padding-bottom: 40px;border-bottom: dotted 1px #717171;display:table;}
.monster_zone .speczone .list li{width: 31%;margin: 0 1% 20px;text-align: center;display: inline-block;vertical-align: top;}
.monster_zone .speczone .list li .graphname{color: #303131;font-weight: bold;text-align: center;letter-spacing: 2px;font-size:12px;}
.monster_zone .speczone #circle1 .circle{stroke:#3498db;}
.monster_zone .speczone #circle1 .border{stroke:#88ccfa;}
.monster_zone .speczone #circle2 .circle{stroke:#f1c40f;}
.monster_zone .speczone #circle2 .border{stroke:#f7e392;}
.monster_zone .speczone #circle3 .circle{stroke:#e74c3c;}
.monster_zone .speczone #circle3 .border{stroke:#fb8073;}
.monster_zone .speczone #circle4 .circle{stroke:#16a085;}
.monster_zone .speczone #circle4 .border{stroke:#8defdc;}
.monster_zone .speczone #circle5 .circle{stroke:#9b59b6;}
.monster_zone .speczone #circle5 .border{stroke:#daa0f2;}

.monster_zone .interview{}
.monster_zone .interview h2{font-size: 24px;text-align: center;color:#5e98be;margin-top: 50px;}
.monster_zone .interview .serif{overflow: hidden;margin-bottom: 15px;}
.monster_zone .interview .serif .photo{width: 20%;float: left;text-align: right;margin: 0 2% 0 3%;}
.monster_zone .interview .serif .arrow{position: relative;width: 66%;margin: 4% 0 0 2%;float: left;background:#f0f0f0;color: #717171;padding: 2%;border-radius: 5px;font-size: 13px;}
.monster_zone .interview .serif .inter_q{color: #46a5bc;font-size: 16px;font-weight: bold;}
.monster_zone .interview .serif .arrow::after, .monster_zone .interview .serif .arrow::before {right: 100%;top: 20px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.monster_zone .interview .serif .arrow::after {border-color: rgba(255, 255, 255, 0);border-right-color:#f0f0f0;border-width: 7px;margin-top: -9px;}
.monster_zone .hobby{}
.monster_zone .hobby h2{font-size: 24px;text-align: center;color: #388ff0;margin-top: 50px;}
.monster_zone .hobby .list{margin: 50px 0;}
.monster_zone .hobby .list li{margin-bottom: 30px;}
.monster_zone .hobby .list li .photo{width: 100%;margin: 0 auto 10px;text-align: center;}
.monster_zone .hobby .list li h3{color:#e53c7d;font-weight: bold;text-align: center;margin-bottom: 10px;}
.monster_zone .hobby .list li .desczone{}
.monster_zone .hobby .list li .desczone p{margin-bottom: 5px;}
.monster_zone .mesage_box{}
.monster_zone .message_box li{margin-bottom: 40px;text-align: center;}
.monster_zone .message_box li .photo{margin-bottom: 20px;}
.monster_zone .message_box li .photo img{width: 100%;height: auto;}
.monster_zone .message_box li .txt{}
.monster_zone .konichiha h2{text-align: center;margin-bottom: 10px;}
.monster_zone .konichiha .subdesc{text-align: center;margin-bottom: 30px;}

/* mission・ privacy */
.monster_zone .mission_box{font-family:ryumin;font-size: 21px;text-align:center;color:#6d6d6d;letter-spacing:2px;line-height:1.6;}
.monster_zone .mission_box .title{}
.monster_zone .mission_box .title .wkwk{color:#ef8fb3;}
.monster_zone .mission_box .title .spsp{color:#7ba8da;}
.monster_zone .mission_box .sub{margin: 0 auto 30px;font-family:ryumin;font-size: 20px;text-align:center;color:#6d6d6d;letter-spacing:4px;line-height:1.6;}
.monster_zone .mission_box .txtzone{font-size: 13px;text-align:center;color:#6d6d6d;letter-spacing:4px;margin-bottom: 50px;}
.monster_zone .privacy_box h3{margin:40px auto 30px;padding-top:0;color:#4496ab;font-size:18px;}
.monster_zone .privacy_box p{font-size:13px;margin: 0 auto 20px;}

.f_link .f_charalist{width: 100%;overflow: hidden;}
.f_link .f_charalist li{width: 31%;margin: 0 1% 10px;float: left;font-size: 13px;text-align: center;min-height: 140px;max-height: 160px;}
.f_link .f_charalist li img{display: block;margin: 0 auto 5px;}
.f_link .f_charalist li a{display: inline-block;text-align: center;color: #46a5bc;}
.f_link .f_charaborder{border-top:dotted 1px #717171;padding-top: 40px;}


/* service */
.service_zone .contents_box{background: #e6f3f4;padding: 60px 0;}
.service_zone .contents_box .boxline{background: #fff;padding: 3%;box-sizing: border-box;}
.service_zone .contents_box .block{margin: 0 auto 35px;border-bottom: dotted 1px #717171;padding-bottom: 10px;}
.service_zone .contents_box h3{text-align: center;margin-bottom: 20px;}
.service_zone .contents_box .desc{width: 100%;overflow: hidden;background: url(../img/bg_map_01.png) no-repeat 0 0;background-size: 100%;}
.service_zone .contents_box .desc .txtzone{width: 67%;margin-right: 3%;float: left;}
.service_zone .contents_box .desc .txtzone p{margin-bottom: 10px;}
.service_zone .contents_box .desc .photo{float: left;width: 27%;}
.service_zone .contents_box .desc .photo ul{padding-top: 20px;overflow: hidden;}
.service_zone .contents_box .desc .photo ul li{margin-bottom: 10px;width: 100%;margin: 0 1% 10px;}
.service_zone .contents_box .desc .photo .txt{font-size: 13px;text-align: center;}
.service_zone .btn a{width: 95%;margin: 0 auto 20px;background: #eb697b;display: block;text-align: center;padding: 7px 0;color: #fff;border-radius: 5px;box-shadow: 0 6px #d25c6b;font-size:17px;}
.service_zone .btn a:hover{text-decoration:none;}

.service_zone .work_list{margin-top:-90px;padding-top:90px;}
.service_zone .work_list h4{background: #f2b93d;color: #fff;padding: 10px;font-size: 15px;font-weight: bold;margin-bottom: 20px;}
.service_zone .work_list .txt{width: 100%;margin-bottom: 30px;}
.service_zone .work_list .txt p{margin-bottom: 10px;}
.service_zone .work_list .case{background: #f0f0f0;padding: 10px;margin-bottom: 30px;}
.service_zone .work_list .case .title{text-align: center;font-size: 18px;font-weight: bold;color: #e53c72;margin: 10px 0;}
.service_zone .work_list .case .list{background: #fff;border-radius: 5px;position: relative;padding: 0;width: 100%;}
.service_zone .work_list .case .list ul{width: 100%;margin: 15px 0 15px 0;background: url(../img/icon_monster_01.png) no-repeat 100% 100%;padding: 10px 10px 50px 10px;box-sizing: border-box;border-radius:5px;position: relative;background-size: 50px;}
.service_zone .work_list .case .list li{}
.service_zone .icon01 .txt{background: url(../img/icon_wrestler_04.png) no-repeat center 0;background-size:96px auto;padding-top: 140px;}
.service_zone .icon02 .txt{background: url(../img/icon_wrestler_05.png) no-repeat center 0;background-size:96px auto;padding-top: 140px;}
.service_zone .icon03 .txt{background: url(../img/icon_wrestler_06.png) no-repeat center 0;background-size:96px auto;padding-top: 140px;}
.service_zone .icon04 .txt{background: url(../img/icon_wrestler_07.png) no-repeat center 0;background-size:96px auto;padding-top: 140px;}
.service_zone .icon05 .txt{background: url(../img/icon_wrestler_08.png) no-repeat center 0;background-size:96px auto;padding-top: 140px;}
.service_zone .icon06 .txt{background: url(../img/icon_wrestler_09.png) no-repeat center 0;background-size:96px auto;padding-top: 160px;}


.service_zone .work_bad{background: #f0f0f0;padding: 10px;margin-bottom: 30px;}
.service_zone .work_bad .list{background: #fff;border-radius: 5px;position: relative;padding: 0;width: 100%;}
.service_zone .work_bad .list ul{width: 100%;margin: 15px 0 15px 0;background: url(../img/icon_monster_05_small.png) no-repeat 0 100%,url(../img/icon_wrestler_10.png) no-repeat 100% 100%;padding: 10px 10px 100px 10px;box-sizing: border-box;border-radius:5px;position: relative;background-size: 50px auto, 110px auto;}
.service_zone .work_bad .list li{}


/* sapumake */
.surprise_zone{}
.surprise_zone .chara_box{background: #e6f3f4;padding: 60px 0;}
.surprise_zone .chara_box .boxline{background: #fff;padding: 3%;box-sizing: border-box;}
.surprise_zone h2{text-align: center;margin-bottom: 10px;}
.surprise_zone .subdesc{text-align: center;margin-bottom: 30px;}
.surprise_zone .boxline .photo{margin-bottom: 40px;text-align: center;}
.surprise_zone .boxline .photo_line0{margin-bottom: 0;text-align: center;line-height: 0;}
.surprise_zone .boxline .txt{margin-bottom: 40px;}
.surprise_zone .boxline .txt p{margin-bottom: 10px;}
.surprise_zone .boxline .gray_box{background:#f4f4f5;padding: 2%;margin-bottom: 30px;}
.surprise_zone .boxline h3.chara{text-align: center;padding: 140px 0 30px;background: url(../img/icon_monster_05) no-repeat center 0;font-weight: bold;font-size: 18px;}
.surprise_zone .boxline h3.title{text-align: center;color:#e73f64;font-weight:bold;padding: 15px 0;}
.surprise_zone .boxline .list{}
.surprise_zone .boxline .list li{overflow: hidden;background: #fff;padding: 2%;box-sizing: border-box;}
.surprise_zone .boxline .list li .img{text-align: center;}
.surprise_zone .boxline .list li .txtline{text-align: center;margin: 15px 0;color:#1dada3;font-size: 14px;font-weight: bold;}
.surprise_zone .boxline .strongred{color:#e73f64;}
.surprise_zone .boxline .underline{text-decoration: underline;}
.surprise_zone .boxline .btn a{background: #ee7f8d;font-size: 18px;color: #fff;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;display: block;text-align: center;padding: 8px 0;border-radius: 5px;box-shadow: 0 6px #d25c6b;}
.surprise_zone .boxline .steplist .list{background:#fff;}
.surprise_zone .boxline .steplist li{padding: 1% 2% 0;}


/* contact・recruit */
.contact_zone{}
.contact_zone .contact_box{width: 95%;margin: 0 auto;background-color: #fff;padding: 2% 0;box-sizing: border-box;margin-top: -12%;}
.contact_zone .contact_box h2{text-align: center;padding: 10px 0;}
.contact_zone .contact_box h2 img{display: block;margin: 0 auto 5px;}
.contact_zone .contact_box h2 span{font-size: 14px;}

.recruit_box{}
.recruit_box h3{text-align: center;border-bottom: solid 3px #3f9acc;padding-bottom: 5px;color: #3ea4da;font-weight: bold;width: 95%;margin: 0 auto 20px;}
.recruit_box .txt{width: 95%;margin: 0 auto 30px;}
.recruit_box .txt p{margin-bottom: 10px;}
.recruit_box .first{line-height: 1.9;}
.recruit_box .photo{text-align: center;}
.recruit_box .style_list{font-size: 13px;background: #2d7ab6;color: #fff;padding: 10px 3% 10px 10%;box-sizing: border-box;width: 95%;margin: 0 auto 20px;}
.recruit_box .style_list li{background: url(../img/icon_check.png) no-repeat 0 8px;padding-left: 30px;padding: 5px 0 5px 30px;}
.recruit_box .recruit_list{}
.recruit_box .recruit_list h4{color: #1e5e99;font-weight: bold;width: 95%;margin: 0 auto 10px;}
.recruit_box .conditions{width: 95%;margin: 0 auto 50px;font-size: 13px;}
.recruit_box .conditions dt{font-weight: bold;}
.recruit_box .conditions dd{border-bottom: solid 1px #ccc;padding-bottom: 5px;margin-bottom: 10px;}
.recruit_box .conditions dd p{}
.recruit_box .desc{text-align: center;margin-bottom: 20px;}
.recruit_box .desc p{margin-bottom: 5px;}
.recruit_box .desc p.erorr{margin-bottom: 10px;color: #ce1d1d;font-size: 13px;}


.contact_form{width: 95%;margin: 0 auto 20px;}
.contact_form .fc-red{margin-bottom: 10px;color: #ce1d1d;font-size: 13px;}
.contact_form dl {overflow:hidden; width:98%; margin:0 auto 2%;}
.contact_form dt{font-weight:bold;}
.contact_form dd{ float:left; width:100%; text-align:left;}
.contact_form dd input{height:14px;font-size:14px;line-height:1;}
.contact_form dd input[type="text"]{ width: 95%; padding: 2%;border:solid 2px #eee;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.contact_form dd input[type="radio"]{width:auto;}
.contact_form dd span {line-height:3.5;}
.contact_form dd select{padding: 2%; width: 300px;line-height:1;color:#B3B3B3;font-size:16px;border:solid 2px #eee;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;-webkit-appearance:none;-moz-appearance:none;appearance:none;text-indent:.01px;text-overflow:"";background:#fff url(../img/select_arrow.jpg) no-repeat right;}
.contact_form dd select option{font-size:16px;}
.contact_form dd textarea{width:95%;min-height:140px;padding:2%;font-size:16px;border:solid 2px #eee;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.contact_form #btn_send{margin:40px auto;text-align:center;font-family:Meiryo, メイリオ, Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;}
.contact_form #btn_send input{display:none;}
.contact_form #btn_send label{background: #eb697b;box-shadow: 0 6px #d25c6b;color: #fff;text-align: center;padding: 10px 0;border-radius: 5px;display: block;width: 95%;font-size:20px;}
.contact_bg1{background: url(../img/bg_08.png) no-repeat 0 0 #ccc;background-size: 100%;padding: 52% 0 15px;}
.contact_bg2{background: url(../img/bg_09.png) no-repeat 0 0 #ccc;background-size: 100%;padding: 52% 0 15px;}

/* present */
.present_zone{}
.present_zone .chara_box{background: #e6f3f4;padding: 60px 0;}
.present_zone .chara_box .boxline{background: url(../img/bg_map_02.png) no-repeat center 30px #fff;padding: 3%;box-sizing: border-box;background-size: 75%;}
.present_zone h2{text-align: center;margin-bottom: 10px;}
.present_zone .subdesc{text-align: center;margin-bottom: 30px;}
.present_zone .serif{overflow: hidden;}
.present_zone .serif .photo{width: 15%;float: left;text-align: right;margin: 0 0 0 2%;}
.present_zone .serif .arrow{position: relative;width: 79%;margin: 2% 0 0 1%;float: left;background: #d6d6d6;color: #46a5bc;padding: 2% 3px;border-radius: 5px;font-size: 14px;}
.present_zone .serif .arrow::after, .history_zone .desc .serif .arrow::before {right: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.present_zone .serif .arrow::after {border-color: rgba(255, 255, 255, 0);border-right-color: #d6d6d6;border-width: 7px;margin-top: -9px;}
.present_zone .boxline .gray_box{background:#f4f4f5;padding: 2%;margin-bottom: 30px;}
.present_zone .boxline .chara{text-align: center;margin: 20px 0;}
.present_zone .boxline .btn input{background: #ee7f8d;font-size: 18px;color: #fff;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;display: block;text-align: center;padding: 8px 0;border-radius: 5px;box-shadow: 0 6px #d25c6b;    border: none;width: 90%;margin: 0 auto 40px;}
.present_zone .boxline .form_txt{margin: 20px auto 40px;width: 90%;}
.present_zone .boxline form dl{margin-bottom: 20px;}
.present_zone .boxline form dt{}
.present_zone .boxline form dd{overflow: hidden;}
.present_zone .boxline form dd input[type=text]{width: 97%;padding: 4px 0;font-size: 13px;}
.present_zone .boxline .txt{margin-bottom: 50px;}
.present_zone .boxline form dl.form_name dd input[type=text]{width:auto;}
.present_zone .boxline form dl.form_name .c_name{width: 48%;margin-right: 2%;float: left;}


@media screen and (max-width: 490px) { /* - iphone tune - */
.f_link .f_charalist li{min-height: 135px;}
.present_zone .boxline form dl.form_name .c_name{float: none;margin-bottom: 10px;}

}


