@charset utf-8;



/* togglemenu */
/*
#ToggleMenu .MenuInner ul li{font-size:24px;padding:0.2em;}
#ToggleMenu .MenuInner .submenu a li{font-size:20px;}
.MenuOpen{}
.MenuOpen #ToggleMenu {position:fixed;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);-webkit-transition: -webkit-transform 0.8s;transition: transform 0.8s;-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);transition-timing-function: cubic-bezier(0.7,0,0.3,1);width: 75%;}
.MenuOpen .MenuInner,.MenuOpen .MenuInner a {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);-webkit-transition: -webkit-transform 0.8s;transition: transform 0.8s;-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);transition-timing-function: cubic-bezier(0.7,0,0.3,1);}
.MenuOpen .MenuInner a {-webkit-transition-duration: 0.9s;transition-duration: 0.9s;}
.MenuOpen .content::before {opacity: 1;-webkit-transition: opacity 0.8s;transition: opacity 0.8s;-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);transition-timing-function: cubic-bezier(0.7,0,0.3,1);-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
.MenuOpen .MenuInner li.sub{-webkit-transition-duration: 0.9s;transition-duration: 0.9s;}
.MenuOpen .MenuInner li.sub {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);-webkit-transition: -webkit-transform 0.8s;transition: transform 0.8s;-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);transition-timing-function: cubic-bezier(0.7,0,0.3,1);}
.MenuInner li.sub{-webkit-transition: -webkit-transform 0s 0.6s;transition: transform 0s 0.6s;-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);transition-timing-function: cubic-bezier(0.7,0,0.3,1);}
.MenuInner li.sub{display: block;-webkit-transform: translate3d(0,500px,0);transform: translate3d(0,500px,0);}
.submenu{display: none;padding-left: 10px;font-size: 90%;margin-bottom: 10px;}
*/


.head_sp{width: 100%;overflow: hidden;position: fixed;height: 70px;background: #fff;z-index:1;}
.head_sp .logo{text-align: center;padding: 3px 0;width: 65%;margin: 20px auto 0;}
.head_sp .logo img{width: 100%;height: auto;}
.head_sp .popup-modal{float: right;width: 35px;text-align: right;margin-right: 4%;}
.head_sp .sp_menubar{width: 55px;height: 45px;position: absolute;top: 10px;right: 0;}


header .Menu { position:absolute; left:10px; top:15px;}
header .Menu img{cursor:pointer;}


#ToggleMenu{position:absolute;z-index:1001;width:270px;height:100%;background:#373a47;padding:2.5em 0.5em 0;font-size:1.15em;-webkit-transform:translate3d(-355px,0,0);transform:translate3d(-355px,0,0);-webkit-transition:-webkit-transform 0.4s;transition:transform 0.4s;-webkit-transition-timing-function:cubic-bezier(0.7,0,0.3,1);transition-timing-function:cubic-bezier(0.7,0,0.3,1);}
#ToggleMenu .MenuInner{color:#fff;}
#ToggleMenu .MenuInner ul{}
#ToggleMenu .MenuInner ul li{color:#fff;}
.MenuInner {-webkit-transform: translate3d(0,100%,0);transform: translate3d(0,100%,0);}

.MenuInner a {display: block;padding:0em 0.8em 0.5em 0.8em;-webkit-transform: translate3d(0,500px,0);transform: translate3d(0,500px,0);}
.MenuInner,.MenuInner a {-webkit-transition: -webkit-transform 0s 0.6s;transition: transform 0s 0.6s;-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);transition-timing-function: cubic-bezier(0.7,0,0.3,1);}
.MenuInner a:nth-child(2) {-webkit-transform: translate3d(0,1000px,0);transform: translate3d(0,1000px,0);}
.MenuInner a:nth-child(3) {-webkit-transform: translate3d(0,1500px,0);transform: translate3d(0,1500px,0);}
.MenuInner a:nth-child(4) {-webkit-transform: translate3d(0,2000px,0);transform: translate3d(0,2000px,0);}
.MenuInner a:nth-child(5) {-webkit-transform: translate3d(0,2500px,0);transform: translate3d(0,2500px,0);}
.MenuInner a:nth-child(6) {-webkit-transform: translate3d(0,3000px,0);transform: translate3d(0,3000px,0);}
.MenuInner a:nth-child(7) {-webkit-transform: translate3d(0,3500px,0);transform: translate3d(0,3500px,0);}
.MenuInner a:nth-child(8) {-webkit-transform: translate3d(0,4000px,0);transform: translate3d(0,4000px,0);}
.MenuInner a:nth-child(9) {-webkit-transform: translate3d(0,4500px,0);transform: translate3d(0,4500px,0);}
.MenuInner a:nth-child(10) {-webkit-transform: translate3d(0,5000px,0);transform: translate3d(0,5000px,0);}

/* Shown menu */
.MenuOpen{}
.MenuOpen #ToggleMenu {position:fixed;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);-webkit-transition: -webkit-transform 0.8s;transition: transform 0.8s;-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);transition-timing-function: cubic-bezier(0.7,0,0.3,1);}
.MenuOpen .MenuInner,.MenuOpen .MenuInner a {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);-webkit-transition: -webkit-transform 0.8s;transition: transform 0.8s;-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);transition-timing-function: cubic-bezier(0.7,0,0.3,1);}
.MenuOpen .MenuInner a {-webkit-transition-duration: 0.9s;transition-duration: 0.9s;}
.MenuOpen .content::before {opacity: 1;-webkit-transition: opacity 0.8s;transition: opacity 0.8s;-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);transition-timing-function: cubic-bezier(0.7,0,0.3,1);-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}

/* Close Button */
.close-button {width: 1em;height: 1em;position: absolute;right: 1em;top: 1em;overflow: hidden;text-indent: 1em;font-size: 0.75em;border: none;background: transparent;color: transparent;}
.close-button::before,.close-button::after {content: '';position: absolute;width: 3px;height: 100%;top: 0;left: 50%;background: #bdc3c7;}
.close-button::before {-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.close-button::after {-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}

/* tune */
.MenuOpen .MenuInner li.sub{-webkit-transition-duration: 0.9s;transition-duration: 0.9s;}
.MenuOpen .MenuInner li.sub {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);-webkit-transition: -webkit-transform 0.8s;transition: transform 0.8s;-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);transition-timing-function: cubic-bezier(0.7,0,0.3,1);}
.MenuInner li.sub{-webkit-transition: -webkit-transform 0s 0.6s;transition: transform 0s 0.6s;-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);transition-timing-function: cubic-bezier(0.7,0,0.3,1);}
.MenuInner li.sub{display: block;padding:0em 0.8em 0.5em 0.8em;-webkit-transform: translate3d(0,500px,0);transform: translate3d(0,500px,0);}
.submenu{display: none;padding-left: 10px;font-size: 90%;margin-bottom: 10px;}



