<!doctype html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /><![endif]-->
<meta name="viewport" content="width=device-width" />
<meta name="robots" content="ALL" />

<title>お問い合わせ - 株式会社IIB（いないいないばぁ） サプライズマーケティング専門</title>
<meta name="description" content="お問い合わせフォームです。各種お問い合わせはお問い合わせフォームからお願いします。">

<meta property="og:title" content="日本一のサプライズマーケティング会社【株式会社いないいないばぁ】">
<meta property="og:site_name" content="株式会社いないいないばぁ">
<meta property="og:type" content="website">
<meta property="og:url" content="http://i-i-b.jp/">
<meta property="og:image" content="http://www.i-i-b.jp/common/img/common/fb.jpg">

<link rel="shortcut icon" href="/common/img/favicon.ico">
<link rel="apple-touch-icon" href="/common/img/home-icon.png" />
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/common/css/basic.css" type="text/css" media="all">
<link rel="stylesheet" href="/common/css/animate.css" type="text/css" media="all">
<link rel="stylesheet" href="/common/css/magnific-popup.css" type="text/css" media="all">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="/common/js/respond.min.js"></script>
<![endif]-->
<!--[if IE 6]><script src="/common/js/minmax.js"></script><![endif]-->
<?php @include '/analyticstracking.php'; ?>
</head>

<body>
<div id="wrapper">

<!--header -->
<header id="header">
<article>
<div class="pcView">
<h1>お問い合わせ -日本一のサプライズマーケティング会社  株式会社いないいないばぁ</h1>
<div class="Logo Hv"><a href="/"><img src="/common/img/head/logo.png" width="183" height="65" alt="サプマケの会社いないいないばぁ ロゴ"/></a></div>
<nav>
<ul>
<a href="/profile.php"><li>会社概要<span>Profile</span></li></a>
<a href="/member.php"><li>仲間たち<span>Member</span></li></a>
<a href="/service.php"><li>主な事業<span>Service</span></li></a>
<li class="Central">Surprise Marketing Company<br>Inai Inai Bar</li>
<a href="/case.php"><li>サプマケ事例<span>Case</span></li></a>
<a href="/newslist.php"><li>お知らせ<span>News</span></li></a>
<a href="/recruit.php"><li class="last">採用情報<span>Recruit</span></li></a>
</nav>
</ul>
</article>


<article>
<div class="spView">

<div class="Inner">
<div class="spLogo"><a href="/"><img src="/common/img/head/logo.png" width="183" height="65" alt="サプマケの会社いないいないばぁ ロゴ"/></a></div>
<div class="MenuBtn"><a id="openmodal" href="#"><img src="/common/img/head/btn-menu.png" width="31" height="37" alt=""/></a></div>
</div>

<div id="spMENU" class="mfp-hide white-popup-block">
<div class="ModalBox">
<ul class="sidebar-menu">

<a href="/"><li class="icon-home22"> HOME</li></a>
<a href="/profile.php"><li class="icon-play3"> 会社概要</li></a>
<a href="/introduction.php"><li class="branch icon-arrow-right"> 代表挨拶</li></a>
<a href="/member.php"><li class="branch icon-arrow-right"> 仲間たち</li></a>
<a href="/credo.php"><li class="branch icon-arrow-right"> クレド</li></a>
<a href="/service.php"><li class="icon-play3"> 主な事業</li></a>
<a href="/case.php"><li class="branch icon-arrow-right"> サプマケ事例</li></a>
<a href="/surprise-marketing.php"><li class="branch icon-arrow-right"> サプライズマーケティング</li></a>
<a href="/movie-marketing.php"><li class="branch icon-arrow-right"> サプライズ動画マーケティング</li></a>
<a href="/repeat-shopping.php"><li class="branch icon-arrow-right"> リピート通販仕組み構築</li></a>
<a href="/web.php"><li class="branch icon-arrow-right"> ホームぺージ制作</li></a>
<a href="/application.php"><li class="branch icon-arrow-right"> アプリケーション・システム開発</li></a>
<a href="/boardgame.php"><li class="branch icon-arrow-right"> ボードゲーム制作</li></a>
<a href="/newslist.php"><li class="icon-play3"> お知らせ一覧</li></a>
<a href="/recruit.php"><li class="icon-play3"> 採用情報</li></a>
<a href="/contact/"><li class="icon-mail"> お問い合わせ・お申込み</li></a>


</ul>
</div>
</div>

</div>
</article>

</header>
<!-- /#header -->


<div id="BreadScrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
<div class="Cnt">
<article>
<h2 class="TopicPath">
<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
<a itemprop="item" href="/"><span itemprop="name">HOME</span></a>
<meta itemprop="position" content="1" />
</span>
 &gt; 
<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
<a itemprop="item" href="/contact/"><span itemprop="name">お問い合わせ</span></a>
<meta itemprop="position" content="2" />
</span>
</div>
</h2>
</article>
</div>
</div><!-- /#BreadScrumb -->


<section id="Contact">
<div class="Inner">
<h2>お問い合わせ<span>Contact</span></h2>
<p>株式会社いないいないばぁへのコンサル依頼、取材依頼、<br class="pcView">
サプライズメッセージは下記問い合わせフォームからお願い致します。</p>

<form method="post" action="index.php">
<!--InputMode-->
<!--#include virtual="./template/form_input.html"-->
</form>
</div>
</section>







<aside>
<section id="BnrBlock">
<div class="Inner">
<ul>
<li class="Hv"><a href="http://www.i-i-b.jp/campaign/" target="_blank"><img src="/common/img/bnr/01.png" width="467" height="126" alt="日本全国サプライズの旅"/></a></li>
<li class="Hv"><a href="http://iib-lee.com/" target="_blank"><img src="/common/img/bnr/02.png" width="467" height="126" alt="企業PR動画制作キャンペーン"/></a></li>
<li class="Hv"><a href="http://7habits-game.com/" target="_blank"><img src="/common/img/bnr/03.png" width="467" height="126" alt="7つの習慣ボードゲーム 公式サイト"/></a></li>
<li class="Hv"><a href="http://storys.jp/story/1027" target="_blank" rel="nofollow"><img src="/common/img/bnr/04.png" width="467" height="126" alt="3億円 女子大生メンターの教え"/></a></li>
<li class="Hv"><a href="http://xn--28jyap6d.com/" target="_blank" rel="nofollow"><img src="/common/img/bnr/05.png" width="467" height="127" alt="こぴたつ"/></a></li>
<li class="Hv"><a href="https://youtubekai.com/" target="_blank" rel="nofollow"><img src="/common/img/bnr/06.png" width="467" height="126" alt="ようつべ解析"/></a></li>
</ul>
</div>
</section>
</aside>

<footer>
<article>
<div class="Inner">
<p class="BackTop Hv"><a href="#wrapper"><img src="/common/img/foot/btn-top.png" width="160" height="163" alt=""/></a></p>
<h2>日本一のサプライズマーケティング会社  株式会社いないいないばぁ</h2>
<div class="Logo Hv"><img src="/common/img/foot/logo.png" width="183" height="65" alt="日本一のサプライズマーケティング会社  株式会社IIB"/></div>
<ul>
<li><a href="/privacy.php">Privacy Policy</a></li>
<li><a href="/sitemap.php">Sitemap</a></li>
</ul>
<p class="copy">&copy; <script type="text/javascript">var iNavInt_curYear = new Date().getUTCFullYear(); document.write(iNavInt_curYear);</script> <a href="/">IIB</a> All Rights Reserved.</p>
</div>
</article>
</footer>
</div>

<script src="../common/js/jquery-2.1.1.js"></script>
<script src="../common/js/jquery.magnific-popup.js"></script>
<script src="../common/js/smoothscroll.js"></script>
<script src="../common/js/star.js"></script>
<script src="../common/js/script.js"></script>
</body>
</html>