  <!--menu-->
  <div id="ToggleMenu">
    <button class="close-button" id="close-button">Close Menu</button>
    <div class="MenuInner"><nav>
      <ul class="Hv">
      <a href="/"><li>HOME</li></a>
      <li class="sub">いないいないばぁの島</li>
        <div class="submenu">
          <a href="../about/company.php"><li>会社概要</li></a>
          <a href="../about/history.php"><li>いないいないばぁの歴史</li></a>
          <a href="../about/mission.php"><li>ミッション</li></a>
          <a href="../about/message.php"><li>代表挨拶</li></a>
        </div>
      <a href="../service/"><li>十八番(おはこ)の島</li></a>
      <li class="sub">サプライズの島</li>
        <div class="submenu">
          <a href="../surprise/"><li>サプライズマーケティングとは</li></a>
          <a href="../category.php?category_id=1"><li>サプマケ研究所</li></a>
        </div>
      <a href="../member.php"><li>モンスターの島</li></a>
      <a href="../article.php"><li>ブログの島</li></a>

      <li class="sub">プレゼントの島</li>
        <div class="submenu">
          <a href="../present/gift.php"><li>無料プレゼント</li></a>
          <a href="../present/magazine.php"><li>無料メルマガ</li></a>
          <a href="http://www.amazon.co.jp/registry/wishlist/1EF5JVT37NPSM" target="_blank"><li>入金してみる</li></a>
        </div>
      <a href="../contact/"><li>お問い合わせ</li></a>
      <a href="../recruit/"><li>採用情報</li></a> 
      </ul>
    </nav></div>
  </div>
  <!--header-->
  <header>
    <!--spnavi-->
    <div class="head_sp">
      <div class="Menu">
        <img src="../common/img/btn-menu.png" width="40" height="34" alt="Menu">
      </div>
      <h1 class="logo"><a href="/"><img src="../common/img/h_logo.png" alt="十八番(おはこ)の島|株式会社いないいないばぁ"></a></h1>
    </div>
  </header>
  