<!doctype html>
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html lang="ja">
<head>
<meta charset="UTF-8">

<!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /><![endif]-->

<!--meta-->
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
<meta name="description" content="株式会社いないいないばぁは日本一のサプライズマーケティング会社です。口コミやリピートを増やすためのサプライズを提案し、人々に喜んでもらうためのコンサルティングを行います。">
<meta name="keywords" content="【ここにキーワード】">
<link rel="canonical" href="http://www.i-i-b.jp/member/recruit/" />

<!--title・icon-->
<title>採用メッセージ| 株式会社いないいないばぁ-サプライズマーケティングで口コミやリピートを増やすコンサルティングならお任せください。</title>
<link rel="shortcut icon" href="../common/img/favicon.ico" />

<!--CSS-->
<link rel="stylesheet" href="../common/css/common.css" type="text/css" media="all">
<link rel="stylesheet" href="../common/css/sub.css" type="text/css" media="all">
<link rel="stylesheet" href="../common/css/magnific-popup.css" type="text/css" media="all">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="../common/js/respond.min.js"></script>
<![endif]-->
<!--[if IE 6]><script src="../common/js/minmax.js"></script><![endif]-->


<!--FB-->
<meta property="og:title" content="採用メッセージ | 日本一のサプライズマーケティング会社【株式会社いないいないばぁ】">
<meta property="og:site_name" content="株式会社いないいないばぁ">
<meta property="og:description" content="株式会社いないいないばぁは日本一のサプライズマーケティング会社です。口コミやリピートを増やすためのサプライズを提案し、人々に喜んでもらうためのコンサルティングを行います。">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.i-i-b.jp/member/rectuit/">
<meta property="og:image" content="http://www.i-i-b.jp/common/img/common/fb.jpg">

</head>
<body>


<div id="wrapper">
  <!--header-->
  <header>
    <!--spnavi-->
    <div class="head_sp">
      <h1 class="logo"><a href="/"><img src="../common/img/h_logo.png" alt="採用メッセージ|株式会社いないいないばぁ"></a></h1>
      <div class="sp_menubar">
        <a class="popup-modal modal-close" href="#inline-wrap"><i></i></a>
      </div>
      <ul id="inline-wrap" class="mfp-hide sp_navmenu">
        <li><a href="/"><span>TOP</span></a></li>
        <li><a href="about/"><span>About</span></a></li>
        <li>
          <a href="blog/"><span>ブログ一覧</span></a>
          <ul class="sp_subcategory">
            <li><a href="#"><span>サブカテゴリ</span></a></li>
            <li><a href="#"><span>サブカテゴリ</span></a></li>
          </ul>
        </li>
        <li><a href="flow/"><span>制作の流れ</span></a></li>
        <li><a href="faq/"><span>よくある質問</span></a></li>
        <li><a href="contact/"><span>お問合せ</span></a></li>
      </ul>
    </div>
  </header>
  <!--container-->
  <div class="container" id="about">
    <div class="contact_zone contact_bg1">
      <div class="contact_box">
        <h2><img src="../common/img/title_recruit.png" alt="Recruit"></h2>
        <section class="recruit_box">
          <h3>日本中にサプライズを</h3>
          <div class="txt first">
            <p>いないいないばぁは、サプライズマーケティング会社。</p>
            <p>私たちの仕事は、<br>
            驚き、感動、笑いの力で口コミを発生させ、<br>
            熱狂的なファンをつくること。</p>
            <p>マーケティングができたり、Webがつくれたり、<br>
              すごい文章がかけるのは当たり前。</p>
            <p>そういった基礎をベースにして、<br>
              世の中をあっと言わせるような仕掛けを作っています。</p>
            <p>世の中の枠に収まらず、<br>
            一緒に人生を楽しめる方を募集します。</p>
          </div>
        </section>
        <section class="recruit_box">
          <h3>おもしろき　こともなき世を　おもしろく</h3>
          <p class="photo"><img src="../common/img/img_recruit_01.png" alt="photo"></p>
          <div class="txt">
            <p>「なぜ、ビジネスをするのですか？」<br>
              と聞かれたら、こう答えるでしょう。</p>
            <p>いつの時代も世界を変えてきたのはクレイジーな人たちです。笑われても、おかしいと指をさされても、批判を受けても、心の声に正直に生きてきた人こそが新しい時代を切り拓いてきました。</p>
            <p>私たちは、これまでの考え方や常識にとらわれません。</p>
            <p>もっと自由に、もっとクレイジーに、もっとクリエイティブに...命を思う存分、輝かせることを大切にしています。</p>
          </div>
        </section>
        <section class="recruit_box">
          <h3>IIB STYLE</h3>
          <ul class="style_list">
            <li>全員がフリーランス</li>
            <li>全員が社長</li>
            <li>全員が自由人</li>
          </ul>
          <div class="txt">
            <p>それぞれが、経営者意識とプロ意識を持ち、人生を楽しんでいます。</p>
            <p>普通の会社とは違って、<br>
              就業規則も出勤義務もありません。</p>
            <p>会議は「“みんなで楽しむ”イベントの企画」から<br>
                スタートします。</p>
            <p>やることはバッチリやって、<br>
                家族のことを大切にします。</p>
            <p>さっさと仕事をして<br>
                自分の人生を楽しみます。</p>
            <p>「なにそれ！？それで大丈夫なの？」<br>
                と言われることも少なくありません。</p>
            <p>でも、「世の中を変える」ことを実現するためには、わたしたち自らが背中を見せなくてはいけません。</p>
          </div>
        </section>
        <section class="recruit_box">
          <h3>募集要項</h3>
          <div class="recruit_list">
            <h4>■WEBデザイナー</h4>
            <div class="txt">
              <p>普通じゃないクリエイティブで、世の中を「あっ！」と言わせるお仕事です。ただ創るだけではなく、自ら課題を見つけて、解決まで積極的に提案できる方、極上のおもてなしでお待ちしております。</p>
            </div>
            <p class="photo"><img src="../common/img/img_recruit_02.png" alt="photo" width="50%"></p>
            <dl class="conditions">
              <dt>給与</dt>
              <dd>能力、経験により変動</dd>
              <dt>勤務地</dt>
              <dd>株式会社いないいないばぁオフィス（渋谷）</dd>
              <dt>勤務時間</dt>
              <dd>週1回のミーティングはマスト（他はすべて自己管理）</dd>
              <dt>勤務開始</dt>
              <dd>相談に応じます</dd>
              <dt>こんな方と一緒に働きたいかも</dt>
              <dd> 
                <p>・普通じゃないクリエイティブを作りたい方</p>
                <p>・人を感動させたり、驚かせたりすることが大好きな方</p>
                <p>・ご自身でスケジュール、タスク管理ができる方</p>
                <p>・WEBデザインの経験を1年以上お持ちの方</p>
                <p>・html5、css3、javascript、phpいずれかができるとうれしいよ。</p>
                <p>・（めっちゃ可愛い人）</p>
              </dd>
            </dl>
          </div>
        </section>
        <section class="recruit_box boxline" id="entry">
          <h3>エントリーフォーム</h3>
          <div class="desc">
            <p>以下のフォームよりご応募ください。</p>
            <p>追って選考のご案内について連絡いたします。<br>
            (返信は3-4営業日を目安に待ちください。)</p>
            <p class="erorr">ご入力された内容に誤りが見つかりました。<br>
お手数ですが入力内容のご確認をお願いいたします。</p>

          </div>
          <div class="contact_form">
            <form method="post" action="index.php#entry">
            <!--InputMode-->
            <!--#include virtual="./template/form_input.html"-->
            </form>
          </div>
        </section>
      </div> 
    </div>

  </div><!--container-->

  <!--footer-->
  <footer>
    <p class="f_logo"><img src="../common/img/h_logo.png" alt="株式会社いないいないばぁ"></p>
    <ul class="link">
      <li><a href="#">特定商取引法に基づく表記について</a></li>
      <li><a href="#">プライバシポリシー</a></li>
    </ul>
    <p class="copy">&copy; <script type="text/javascript">var iNavInt_curYear = new Date().getUTCFullYear(); document.write(iNavInt_curYear);</script> <a href="/">IIB</a> All Rights Reserved.</p>
  </footer>

</div>

<!--js-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="../common/js/main.js"></script>
<script src="../common/js/jquery.magnific-popup.min.js"></script>
<script src="../common/js/jquery.circliful.js"></script>

<script>
$(function () {
  $('.popup-modal').magnificPopup({
    type: 'inline',
    preloader: false
  });
  $(document).on('click', '.popup-modal-dismiss', function (e) {
    e.preventDefault();
    $.magnificPopup.close();
  });
});
</script>
<script type="text/javascript">
// takernari
    $( document ).ready(function() { // 6,32 5,38 2,34
        $("#circle1").circliful({
          dimension: 400,
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 21,
            textSize: 28,
            textStyle: 'font-size: 16px;',
            textColor: '#303131',
            multiPercentage: 1,
            percentages: [10, 20, 30],
            info: "test"
        });
        $("#circle2").circliful({
          dimension: 240,
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 31,
            textSize: 28,
            textStyle: 'font-size: 12px;',
            textColor: '#303131',
            multiPercentage: 1,
            percentages: [10, 20, 30]
        });
        $("#circle3").circliful({
          dimension: 240,
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 40,
            textSize: 28,
            textStyle: 'font-size: 12px;',
            textColor: '#303131',
            multiPercentage: 1,
            percentages: [10, 20, 30]
        });
        $("#circle4").circliful({
          dimension: 240,
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 50,
            textSize: 28,
            textStyle: 'font-size: 12px;',
            textColor: '#303131',
            multiPercentage: 1,
            percentages: [10, 20, 30]
        });
        $("#circle5").circliful({
          dimension: 240,
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 60,
            textSize: 28,
            textStyle: 'font-size: 12px;',
            textColor: '#303131',
            multiPercentage: 1,
            percentages: [10, 20, 30]
        });
    });
</script>

</body>
</html>
