<!doctype html>
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="UTF-8">

<!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /><![endif]-->

<!--meta-->
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
<meta name="description" content="株式会社いないいないばぁは日本一のサプライズマーケティング会社です。口コミやリピートを増やすためのサプライズを提案し、人々に喜んでもらうためのコンサルティングを行います。">
<meta name="keywords" content="IIB,いないいないばぁ,サプライズマーケティング,サプマケ">

<!--icon-->
<link rel="shortcut icon" href="/sp/common/img/favicon.ico" />
<link rel="apple-touch-icon" href="/sp/common/img/home-icon.png">

<!--title・canonical-->
<title>採用メッセージ| 株式会社いないいないばぁ-サプライズマーケティングで口コミやリピートを増やすコンサルティングならお任せください。</title>
<link rel="canonical" href="http://www.i-i-b.jp/recruit/" />


<!--CSS-->
<link rel="stylesheet" href="../common/css/common.css" type="text/css" media="all">
<link rel="stylesheet" href="../common/css/sub.css" type="text/css" media="all">
<link rel="stylesheet" href="../common/css/magnific-popup.css" type="text/css" media="all">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="../common/js/respond.min.js"></script>
<![endif]-->
<!--[if IE 6]><script src="../common/js/minmax.js"></script><![endif]-->


<!--FB-->
<meta property="og:title" content="採用メッセージ | 日本一のサプライズマーケティング会社【株式会社いないいないばぁ】">
<meta property="og:site_name" content="株式会社いないいないばぁ">
<meta property="og:description" content="株式会社いないいないばぁは日本一のサプライズマーケティング会社です。口コミやリピートを増やすためのサプライズを提案し、人々に喜んでもらうためのコンサルティングを行います。">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.i-i-b.jp/recruit/">
<meta property="og:image" content="http://www.i-i-b.jp/sp/common/img/fb.jpg">

<!--#include virtual="../../analyticstracking.php"-->

</head>
<body>


<div id="wrapper">
  
  <!--#include virtual="./template/header.html"-->

  <!--container-->
  <div class="container" id="about">
    <div class="contact_zone contact_bg1">
      <div class="contact_box">
        <h2><img src="../common/img/title_recruit.png" alt="Recruit"></h2>
        <section class="recruit_box boxline" id="entry">
          <h3>応募完了</h3>
          <div class="desc">
            <p class="btm-ll">お問い合わせが完了いたしました。<br>
            内容を確認しまして、<br>
            1週間以内に担当者よりご連絡させていただきます。</p>
          </div>
          <div class="contact_form">
            <form method="post" action="index.php">
            <!--InputMode-->
            <!--#include virtual="./template/form_check.html"-->
            </form>
          </div>
        </section>
      </div> 
    </div>
    <section class="f_link">
      <div class="f_serif">
        <p class="photo"><img src="../common/img/icon_monster_01.png" alt="monster"></p>
        <p class="arrow">ツギハドコイキマスカ？</p>
      </div>
      <p class="chara"><img src="../common/img/icon_monster_04.png" alt="monster"></p>
      <ul class="f_list">
        <li><a href="/"><img src="../common/img/icon_flink_01.png" alt="photo">
        世界</a></li>
        <li><a href="../service/"><img src="../common/img/icon_flink_06.png" alt="photo">
        できること</a></li>
        <li><a href="../about/company.php"><img src="../common/img/icon_flink_02.png" alt="photo">
        会社概要</a></li>
        <li><a href="../about/history.php"><img src="../common/img/icon_flink_03.png" alt="photo">
        歴史</a></li>
        <li><a href="../about/mission.php"><img src="../common/img/icon_flink_04.png" alt="photo">
        ミッション</a></li>
        <li><a href="../about/message.php"><img src="../common/img/icon_flink_05.png" alt="photo">
        代表挨拶</a></li>
      </ul>
    </section>

  </div><!--container-->

  <!--#include virtual="./template/footer.html"-->

</div>

<!--js-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="../common/js/main.js"></script>
<script src="../common/js/jquery.magnific-popup.min.js"></script>
<script src="../common/js/jquery.circliful.js"></script>

<script>
$(function () {
  $('.popup-modal').magnificPopup({
    type: 'inline',
    preloader: false
  });
  $(document).on('click', '.popup-modal-dismiss', function (e) {
    e.preventDefault();
    $.magnificPopup.close();
  });
});
$(function(){
  $("#ToggleMenu li.sub").on("click", function() {
    $(this).next().slideToggle();
    return false;
  });
});
</script>

</body>
</html>
