<dl class="Form">
<dt>お名前</dt>
<dd><span><!--value(f_name)-->  様</span></dd>
</dl>
<dl class="Form">
<dt>E-Mail</dt>
<dd><span><!--value(f_mail)--></span></dd>
</dl>
<dl class="Form">
<dt>志望職種</dt>
<dd><span><!--value(f_title)--></span></dd>
</dl>
<dl class="Form Last">
<dt>質問・お問い合わせ</dt>
<dd><span><!--value(f_text)--></span></dd>
</dl>

<div id="btn-sendMail"><input id="send" type="submit" name="check" value=""><label class="btn animation opacity btn-lunch btn-act" for="send">送っちゃうの？</label></div>

<!--hiddenForm-->