<div id="ToggleMenu">
<button class="close-button" id="close-button">Close Menu</button>
<div class="MenuInner">
<nav>
<ul class="Hv">
<a href="../"><li>HOME</li></a>
<a href="../about.php"><li>いないいないばぁの島</li></a>
<a href="../service.php"><li>十八番（オハコ）の島</li></a>
<a href="../surprise.php"><li>サプライズの島</li></a>
<a href="../member.php"><li>モンスターの島</li></a>
<a href="../blog.php"><li>ブログの島</li></a>
<a href="../present.php"><li>プレゼントの島</li></a>
<a href="../contact"><li>お問い合わせ</li></a>
<a href="../recruit"><li>採用情報</li></a>
</ul>
</nav>
</div>
</div>
<header>
<div class="Menu"><img src="../common/img/header/btn-menu.png" width="40" height="34" alt="Menu"/></div>
<div class="Logo"><img src="../common/img/header/logo.png" width="337" height="48" alt="株式会社いないいないばぁ"/></div>
<ul>
<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.i-i-b.jp/recruit/" target="_blank"><img src="../common/img/header/btn-fb.png" width="27" height="27" alt=""/></a></li>
<li><a href="https://twitter.com/share?url=http://www.i-i-b.jp/recruit/" target="_blank"><img src="../common/img/header/btn-tw.png" width="27" height="27" alt=""/></a></li>
<li><a href="https://plus.google.com/share?url=/recruit/" target="_blank"><img src="../common/img/header/btn-g.png" width="27" height="27" alt=""/></a></li>
</ul>
<a href="/contact/"><button class="btn btn-contact btn-act">お問い合わす</button></a>
</header>